<!-- assets/templates/question_single.html -->
<div class="singleChoice question">
    <p>{{ question_number }}: {{ question_text }}</p>
    <ul>
    {% for opt in options %}
    <li>
        <input type="radio" name="question_{{ question_number }}" value="{{ opt.letter }}">
        {{ opt.letter }}) {{ opt.text }}
    </li>
    {% endfor %}
    <p class="correct-answer">Respuesta correcta: {{ correct_letter }}</p>
    <input type="hidden" name="correct_{{ question_number }}" value="{{ correct_letter }}">
      
</div>
