@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');
body {
font-family: 'Roboto', Arial, sans-serif;
background-color: #f9f9f9;
color: #333;
line-height: 1.6;
margin: 0;
padding: 20px;
}
.correct {
    color: #28a745; /* A brighter green for better visibility */
    font-weight: bold;
}
.incorrect {
    color: #dc3545; /* A brighter red for better visibility */
    font-weight: bold;
}
.question {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.question p {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.question li {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    list-style-type: none;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.question li:hover {
    background-color: #f1f1f1; /* Highlight on hover */
}
input[type="checkbox"] {
    width: 17px;
    height: 17px;
    transform: scale(1.35);
    margin-right: 10px;
    cursor: pointer;
}
.correct-answer {
    display: none;
    font-weight: bold;
    font-size: 16px;
}
.answered {
    pointer-events: none;
}
#testForm {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#submitButton:hover {
    background-color: #0056b3;
}
#scoreDisplay {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}